@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/sfuidisplay-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/sfuidisplay-medium-webfont.woff2") format("woff2");
  src: url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "SF UI Display";
  font-size: 14px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto; }

.music {
  width: 100%;
  min-height: 100vh;
  background: url(../img/hfbg.png) left center no-repeat #f5f0ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .music__info {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .music__info-wrapper {
      max-width: 570px;
      z-index: 1;
      position: relative;
      margin-right: 30px; }
  .music__slider {
    width: 50%;
    position: relative; }
    .music__slider:before {
      content: '';
      width: 50px;
      height: 333px;
      background-color: #f5f0ea;
      -webkit-box-shadow: 0 0 35px rgba(66, 60, 54, 0.64);
      box-shadow: 0 0 35px rgba(66, 60, 54, 0.64);
      position: absolute;
      left: -6px;
      top: 50%;
      -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%); }
    .music__slider:after {
      content: "";
      width: 100px;
      height: 500px;
      background-color: #f5f0ea;
      position: absolute;
      right: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.info__subtitle {
  color: black;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.45px; }

.info__title {
  color: black;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: .85px;
  margin-top: 21px;
  margin-bottom: 0; }

.info__subs-button {
  margin-top: 40px;
  height: 50px;
  background-color: #ce477d;
  border-radius: 4px;
  line-height: 50px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 28px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .info__subs-button:hover {
    background-color: #9c154b; }

.slider {
  height: 240px;
  position: relative;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -6px;
  margin-right: -20px;
  overflow: hidden;
  z-index: 0; }
  .slider__item {
    text-decoration: none;
    width: 350px;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .slider__arrow {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url(../img/arrowbutton.png) center no-repeat rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    left: 27px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    margin: 0;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer; }
    .slider__arrow:hover {
      background-color: rgba(0, 0, 0, 0.7); }

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.album {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .album__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #FFF;
    margin-bottom: 15px; }
  .album__text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px; }

@media only screen and (max-height: 650px) {
  .music {
    background-size: contain; } }

@media only screen and (max-width: 1150px) {
  .music {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: none; }
    .music__info {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .music__slider {
      margin-top: 20px;
      width: 100%; }
      .music__slider::before, .music__slider::after {
        display: none; }
  .slider {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */